.nav--signin {
  width: 100%;
}

.nav--signin__main {
  background-color: #ffe5f0;
  padding: 10px;
}

.nav--signin__main .checkbox {
  font-size: 13px;
  color: #808080;
  font-weight: 400;
  padding-left: 23px;
}

.nav--signin__main .checkbox:before {
  left: 5px;
  margin-top: -6px;
  width: 5px;
  height: 9px;
}

.nav--signin__main .checkbox:after {
  left:0;
  margin-top: -7px;
  width: 13px;
  height: 13px;
  border-width: 1px;
}

.nav--signin__input {
  width: 100%;
  border: none;
  padding: 5px 10px;
  font-size: 15px;
  margin-bottom: 10px;
}

.btn--signin,
.btn--signup {
  width: 100%;
  border: 2px solid #ff6ca7;
  padding: 15px;
  margin-bottom: 5px;
  background-color: #fff;
  text-align: center;
}

.btn--signin a,
.btn--signup a {
  font-size: 15px;
  color: #ff6ca7;
  display: block;
}

.btn--signup {
  margin-top: 40px;
}

.btn--signup a {
  color: #53bc24;
}

.nav--signin__others a {
  color: #808080;
  font-size: 13px;
  margin-bottom: 5px;
}

.nav--signin__others a:before {
  content: "▶";
  color: #ff6ca7;
}
.nav--signin__sns {
  padding: 10px; 
}

.nav--signin__sns__item {
  margin-bottom: 10px;
}
.nav--signin__sns__item img {
  width: 35px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
}

.nav--signin__sns__item a {
  color: #ff6ca7;
  font-size: 13px;
  display: inline-block;
  vertical-align: middle;
  line-height: 35px;
}

.box--signup h3 {
  font-size: 25px;
  color: #ff6ca7;
  margin-bottom: 30px;
  margin-top: 0;
}

.box--signup__item {
  margin-bottom: 20px;
}

.box--signup__item label {
  font-size: 20px;
  color: #808080;
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
}

.box--signup__item input {
  border: 2px solid #ff6ca7;
  border-radius: 8px;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  height: 35px;
  width: 365px;
  padding-left: 20px;
}

.box--signup__item.birthdate > .pull-right {
  width: 365px;
}

.box--signup__item.gender > .pull-right {
  width: 380px;
}

.box--signup__item.birthdate .select-box01 {
  display: inline-block;
  vertical-align: middle;
}

.box--signup__item.birthdate .birthyear select {
  width: 140px;
  height: 35px;
  border-radius: 8px;
}

.box--signup__item.birthdate .birthmonth select,
.box--signup__item.birthdate .birthday select {
  width: 70px;
  height: 35px;
  border-radius: 8px;
}

.box--signup__item.birthdate .text--unit {
  display: inline;
  font-size: 20px;
  color: #808080;
  vertical-align: middle;
}

.box--signup__item .gender-radio {
  display: inline-block;
  vertical-align: middle;
  width: 48%;
}

.box--signup__item .gender-radio input {
  display: none;
}

.box--signup__item .gender-radio label {
  padding-left: 47px;
}

.box--signup__item .gender-radio label:after {
  border-color: #ff6ca7;
}

.box--signup__btn {
  border-radius: 5px;
  background-image: -moz-linear-gradient( 90deg, rgb(255,108,167) 49%, rgb(255,135,183) 51%);
  background-image: -webkit-linear-gradient( 90deg, rgb(255,108,167) 49%, rgb(255,135,183) 51%);
  background-image: -ms-linear-gradient( 90deg, rgb(255,108,167) 49%, rgb(255,135,183) 51%);
  width: 100%;
  height: 46px;
  text-align: center;
  margin-top: 30px;
}

.box--signup__btn a {
  display: block;
  font-size: 25px;
  color: #fff;
  font-weight: 700;
  line-height: 46px;
}

.box--signup__btn.white {
  background-image: none;
  background-color: #fff;
  border: 1px solid #ff6ca7;
}

.box--signup__btn.white a {
  color: #ff6ca7;
}

@media screen and (max-width: 480px) {
  .box--signup {
    padding: 10px 25px;
  }

  .box--signup h3 {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .box--signup__item {
    margin-bottom: 5px;
  }

  .box--signup__item label {
    font-size: 10px;
    color: #000;
    display: block;
    margin-bottom: 3px;
  }

  .box--signup__item input {
    height: 33px;
    display: block;
    width: 100%;
    border-width: 1px;
  }

  .box--signup__item .pull-right {
    float: none!important;
  }

  .box--signup__item.birthdate .birthyear select {
    width: 115px;
  }

  .box--signup__item.birthdate .text--unit {
    font-size: 15px;
    vertical-align: bottom;
    position: relative;
    bottom: 2px;
  }
  .box--signup__item.birthdate .birthyear select,
  .box--signup__item.birthdate .birthmonth select,
  .box--signup__item.birthdate .birthday select {
    height: 33px;
  }

  .box--signup__item .gender-radio {
    padding-left: 18%;
  }

  .box--signup__item .gender-radio--woman {
    padding-left: 0;
  }
  
  .box--signup__item .gender-radio label {
    font-size: 15px;
    padding-left: 35px;
  }
  
  .box--signup__item .gender-radio label:before {
    margin-top: -4px;
    width: 6px;
    height: 6px;
    left: 19px;
  }

  .box--signup__item .gender-radio label:after {
    margin-top: -8px;
    width: 14px;
    height: 14px;
  }

  .box--signup__btn {
    height: 35px;
    margin-top: 50px;
  }

  .box--signup__btn a {
    font-size: 15px;
    font-weight: 400;
    line-height: 35px;
  }

  .nav--signin {
    padding: 15px 25px;
  }

  .nav--signin__main {
    padding: 0;
    background: none;
  }

  .nav--signin__main label {
    font-size: 10px;
    margin-bottom: 2px;
    font-weight: 400;
  }

  .nav--signin__input {
    border: 1px solid #ff6ca7;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 4px;
  }

  .nav--signin__main .checkbox {
    margin-left: 10px;
  }

  .btn--signin {
    background-image: -moz-linear-gradient( 90deg, rgb(255,108,167) 49%, rgb(255,135,183) 51%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,108,167) 49%, rgb(255,135,183) 51%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,108,167) 49%, rgb(255,135,183) 51%);
    height: 33px;
    padding: 0;
    margin-top: 10px;
    border-radius: 5px;
  }

  .btn--signin a {
    color: #fff;
    line-height: 33px;
  }

  .nav--signin__others a {
    display: inline-block;
    width: 49%;
  }

  .nav--signin__sns {
    padding: 0 0 0 50px;
    margin-top: 45px;
  }

  .nav--signin__sns__item {
    margin-bottom: 20px;
  }

  .nav--signin__sns__item img {
    margin-right: 2px;
  }

  .btn--signup {
    padding: 9px;
    border-radius: 5px;
    border-width: 1px;
    margin-top: 50px;
  }
} /*** 480px ***/
