/*** colors ****
pink1 #ffe5f0
pink2 #ff6ca7
****************/

@import "./top.css";
@import "./mail.css";
@import "./settings.css";
@import "./input.css";
@import "./messages.css";
@import "./others.css";
@import "./components.css";
@import "./salient.css";
@import "./account.css";

body {
  padding-bottom: 100px;
}

p, a {
  margin-bottom: 0;
  line-height: 1.1;
  color: rgb(77,77,77);
}

a:hover {
  text-decoration: none;
  opacity: .8;
}

a:hover * {
  opacity: .8;
}

input:focus, textarea:focus {
  outline: none;
}

.mg-top-10 {
  margin-top: 10px!important;
}

.container {
  max-width: 900px;
}

.header {
  background-color: #ffe5f0;
  width: 100%;
  height: 100px;
  margin-bottom: 5px;
}

.header__logo {
  float: right;
  margin-top: 60px;
}

.tab-menu {
  margin-bottom: 5px;
}

.tab-menu > div {
  padding-right: 0;
  padding-left: 5px;
}

.tab-menu > .col-sm-2:first-child {
  padding-left: 15px;
}

.tab-menu-item {
  background-color: #ffe5f0;
  width: 100%;
  height: 40px;
  text-align: center;
}

.tab-menu-active {
  background-color: #ff6ca7;
}

.tab-menu-item p {
  color: #ff6ca7;
  font-size: 17px;
  line-height: 40px;
}

.tab-menu-active p{
  color: #fff;
}

.container > .row > .col-md-8 {
  padding:0;
}

/*** sidenav ******************************************
******************************************************/

.sidenav {
  border: 1px solid #ff6ca7;
}

.sidenav__item__header {
  text-align: center;
  background-color: #ff6ca7;
  height: 30px;
}

.sidenav__item__header p {
  color: #fff;
  font-size: 15px;
  line-height: 30px;
}

.sidenav__item__body {
  padding: 5px;
}

.sidenav__profile__picture {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.sidenav__profile__picture img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.sidenav__profile__names {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-top: 8px;
  width: calc(100% - 130px);
}

.sidenav__profile__names p {
  font-size: 15px;
  margin-bottom: 0;
  line-height: 100%;
}

.sidenav__profile__names .name{
  font-size: 19px;
  margin-bottom: 5px;
}

.sidenav__profile__text {
  font-size: 15px;
  line-height: 100%;
  margin-top: 10px;
}

.sidenav__users {
  padding: 5px;
}

.sidenav__users > div {
  display: inline-block;
  vertical-align: middle;
  height: 38px;
}

.sidenav__users__picture img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.sidenav__users__names {
  width: calc(100% - 146px);
}

.sidenav__users__names p {
  font-size: 10px;
  line-height: 100%;
}

.sidenav__users__names .name {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 2px;
  line-height: 100%;
}

.sidenav__users__comment {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid #ff6ca7;
  position: relative;
}

.sidenav__users__mail {
  padding-left: 10px;
  padding-right: 5px;
  position: relative;
}


.sidenav__users__comment img,
.sidenav__users__mail img {
  width: 30px;
  padding-top: 5px;
}

.sidenav__users__comment img {
  position: relative;
  top: -2px;
}

.sidenav__users__comment .notice,
.sidenav__users__mail .notice {
  position: absolute;
  background-color: #53bc24;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  text-align: center;
  top: 1px;
  right: 0;
}

.sidenav__users__comment .notice {
  right: 7px;
}

.sidenav__users__comment .notice p,
.sidenav__users__mail .notice p {
  line-height: 18px;
  font-size: 12px;
  color: #fff;
}

.box {
  border: 1px solid #ff6ca7;
}

.box__tab {
  height: 35px;
}

.box__tab__item {
  width: calc(50% - 2px);
  display: inline-block;
  text-align: center;
  background-color: #ffe5f0;
}

.box__tab__item:hover {
  opacity: .8;
  cursor: pointer;
}

.box__tab__item:hover * {
  opacity: .8;
}

.box__tab__item p {
  color: #ff6ca7;
  line-height: 35px;
}

.box__tab__item--active {
  background-color: #fff
}

.box__header,
.box--round__header {
  text-align: left;
  padding: 0 10px;
  background-color: #ff6ca7;
  height: 30px;
  position: relative;
}

.box__header p,
.box__header a,
.box--round__header p {
  color: #fff;
  font-size: 15px;
  line-height: 30px;
}

.box__header__icon--right,
.box--round__header__icon--right {
  position: absolute;
  right: 20px;
  top: 8px;
}

.box__body {
}

.box--round__header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.box--round__body {
  border: 2px solid #ff6ca7;
  border-top: none;
  padding: 10px;
}

.box__body__label {
  background-color: #ffe5f0;
  height: 30px;
}

.box__body__label label {
  color: #ff6ca7;
  line-height: 30px;
  padding: 0 20px;
  font-weight: 700;
}

.box__body__label > a > label:hover {
  cursor: pointer;
}

.box__body__label--center {
  text-align: center;
}

.box__body__label--round label{
  background-color: #fff;
  color: #ff6ca7;
  border-radius: 40px;
  padding: 0 40px;
  line-height: 21px;
  margin-top: 4px;
}

.box__footer {
  border-top: 1px dashed #ff6ca7;
  padding: 10px;
}

.list > a {
  display: block;
  border-bottom: 1px solid #ff6ca7;
}

.list > a:last-child {
  border: none;
}

.list__users > div {
  display: inline-block;
  vertical-align: middle;
  height: 70px;
  padding: 5px;
}

.list__users__picture img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.list__users__names {
  width: calc(100% - 205px);
}

.list__users__names p {
  font-size: 16px;
  line-height: 120%;
  color: #808080;
}

.list__users__names .name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 2px;
  line-height: 150%;
  color: rgb(77,77,77);
}

.list__users__comment {
  padding-right: 10px!important;
  padding-left: 10px;
  border-right: 1px solid #ff6ca7;
  position: relative;
}

.list__users__comment.pull-right {
  border: none;
}

.list__users__comment img {
  width: 45px;
  padding-top: 10px;
}

.list__users__mail {
  padding-left: 10px;
  padding-right: 5px;
  position: relative;
}

.list__users__mail img {
  padding-top: 10px;
  width: 45px;
}

.list__users__comment .notice,
.list__users__mail .notice {
  position: absolute;
  background-color: #53bc24;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  top: 10px;
  right: 0;
}

.list__users__comment .notice {
  right: 5px;
}

.list__users__comment .notice p,
.list__users__mail .notice p {
  line-height: 18px;
  font-size: 12px;
  color: #fff;
}

.list__users__arrow {
  float: right;
  margin-right: 20px;
}

.list__users__arrow img {
  margin-top: 15px;
}

.list__mails > div {
  display: inline-block;
  vertical-align: middle;
  height: 70px;
  padding: 5px;
}

.list__mails .list__mails__mail-icon {
  border-right: 1px solid #ff6ca7;
  padding-left: 15px;
  padding-right: 15px;
}

.list__mails__mail-icon img {
  margin-top: 10px;
  width: 40px;
}

.list__mails__mail-icon .unread-mail {
  margin-top: 15px;
}

.list__mails__names {
  width: calc(100% - 205px);
}

.list__mails__names p {
  font-size: 16px;
  line-height: 120%;
  color: #808080;
}

.list__mails__names .name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 2px;
  line-height: 150%;
  color: rgb(77,77,77);
}

.list__mails .list__mails__pictures {
  padding-top: 15px;
}

.icon__clip {
  margin-right: 10px;
}

.btn--default {
  width: 100%;
  margin: 30px auto 0;
  text-align: center;
  border: 2px solid #ff6ca7;
}

.btn--default a {
  padding: 15px 20px;
  font-size: 25px;
  font-weight: 700;
  color: #53bc24;
  display: block;
}

.btn--round {
  border-radius: 50px;
}

.box__body + .btn--default {
  border-right: 1px solid #ff6ca7;
  border-left: 1px solid #ff6ca7;
  border-bottom: 1px solid #ff6ca7;
}

.text-center {
  text-align: center;
}

.menu--stack__item {
  border: 2px solid #ff6ca7;
  text-align: center;
  position: relative;
}

.menu--stack__item + .menu--stack__item {
  margin-top: 10px;
}

.menu--stack__item a {
  color: #575757;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 20px;
  display: block;
}

.menu--stack__item img {
  position: absolute;
  top: 10px;
  left: 95px;
}

@media screen and (max-width: 990px) and (min-width: 767px) {
  .container > .row > .col-md-8 {
    padding-left : 15px;
    padding-right : 15px;
  }

  body > .container > .row > .col-md-4.hidden-xs {
    display: none;
  }

  .tab-menu > div:last-child {
    padding-right: 15px;
  }
}

@media screen and (max-width: 480px) {
  body > .container > .row > .col-md-8 {
    margin-left: -5px;
    margin-right: -5px;
  }

  body > .container > .row > .top-main {
    margin-left: 0;
    margin-right: 0;
  }

  .mg-top-10--sp {
    margin-top: 10px!important;
  }

  .mg-top-15--sp {
    margin-top: 15px!important;
  }

  .mg-top-20--sp {
    margin-top: 20px!important;
  }

  .mg-top-30--sp {
    margin-top: 30px!important;
  }

  .header {
    height: 50px;
  }

  .header__logo {
    margin-top: 30px;
    width: 37.5px;
    margin-right: 37.5px;
  }

  .container {
    padding-left: 5px;
    padding-right: 5px;
  }

  .row {
    margin-left: -2.5px;
    margin-right: -2.5px;
  }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 2.5px;
    padding-left: 2.5px;
  }

  .tab-menu {
    margin-left: -5px;
    margin-right: -5px;
  }

  .tab-menu > .col-xs-2 {
    padding: 0; 
    padding-right: 5px;
  }

  .tab-menu > .col-sm-2:first-child {
    padding-left: 0;
    width: 10%;
  }

  .tab-menu > .col-sm-2:nth-child(2) {
    width: 23.3%;
  }

  .tab-menu > .col-xs-2:last-child {
    padding: 0; 
  }

  .tab-menu-item {
    height: 18px;
  }

  .tab-menu-item p {
    font-size: 8.5px;
    line-height: 18px;
  }

  .list__mails > div {
    height: 40px;
  }

  .list__mails .list__mails__mail-icon {
    border-right: none;
    padding-left: 10px;
  }

  .list__mails__mail-icon img {
    width: 20px;
    margin-top: 5px;
  }

  .list__mails__mail-icon .unread-mail {
    margin-top: 10px;
  }

  .list__mails__names {
    height: 40px;
  }

  .list__mails__names p {
    font-size: 9px;
  }

  .list__mails__names .name {
    font-size: 12.5px;
    margin-bottom: 0;
  }

  .list__mails .list__mails__pictures {
    padding-right: 10px;
    padding-top: 7.5px;
  }

  .list__mails__pictures .icon__clip {
    height: 16px;
    margin-top: 2px;
  }

  .list__mails__pictures .icon__picture {
    height: 25px;
  }

  .list__users > div {
    height: 40px;
  }

  .list__users > .list__users__picture {
    padding-left: 10px;
    padding-right: 0;
  }

  .list__users__picture img {
    width: 30px;
    height: 30px;
  }

  .list__users__names {
  width: calc(100% - 135px);
  }

  .list__users__names p {
    font-size: 9px;
  }

  .list__users__names .name {
    font-size: 12.5px;
    margin-bottom: 0;
  }

  .list__users__comment {
    border-right: none;
  }

  .list__users__comment img,
  .list__users__mail img {
    width: 25px;
    padding-top: 5px;
  }

  .list__users__comment .notice,
  .list__users__mail .notice {
    width: 12px;
    height: 12px;
    top: 5px;
  }

  .list__users__comment .notice p,
  .list__users__mail .notice p {
    font-size: 9px;
    line-height: 12px;
  }

  .list__users__arrow {
    margin-right: 10px;
  }

  .list__users__arrow img {
    height: 17px;
    margin-top: 7.5px;
  }

  .box {
    border-color: #ffe5f0;
  }

  .box__header {
    height: 25px;
  }

  .box__header a {
    height: 25px;
  }

  .box__header p {
    font-size: 12.5px;
    line-height: 25px;
    margin-bottom: 7px;
  }

  .box__header--arrow--left {
    height: 11px;
    margin-bottom: 7px;
    margin-right: 5px;
  }

  .box__header__icon--left--sp p {
    display: inline-block;
    vertical-align: middle;
  }

  .box__header__icon--comment {
    padding: 0 8.5px;
    border: 1px solid #fff;
    top: 3px;
    right: 15px;
    border-radius: 10px;
    height: 19px;
  }

  .box__header__icon--comment img {
    width: 15px;
    position: relative;
    bottom: 7.5px;
  }

  .box__header__icon--right,
  .box--round__header__icon--right {
    width: 10px;
  }

  .box__header__icon--right.auto-width,
  .box--round__header__icon--right.auto-width {
    width: auto;
  }

  .box__body__label--round {
    height: 25px;
  }

  .box__body__label--round label {
    font-size: 11.5px;
    padding: 0 23px;
    margin-top: 5px;
    height: 15px;
    line-height: 15px;
  }

  .list > a {
    border-color: #ffe5f0;
  }

  .box--default .box__header {
    padding: 0 20px;
  }

  .btn--default {
    width: 80%;
    border-width: 1px;
  }

  .btn--default a {
    font-size: 15px;
    padding: 10px;
  }

  .box__tab {
    height: 25px;
  }

  .box__tab__item {
    font-size: 10px;
  }

  .box__tab__item p {
    line-height: 25px;
  }

  .menu--stack__item {
    border-width: 1px;
    border-left: none;
    border-right: none;
    height: 30px;
  }

  .menu--stack__item img {
    width: 15px;
    top: 6px;
    left: 85px;
  }

  .menu--stack__item a {
    font-size: 12.5px;
    padding: 0;
    line-height: 30px;
  }
  
  .menu--stack__item + .menu--stack__item {
    border-top: none;
    margin-top: 0;
  }

  .font--10--sp {
    font-size: 10px;
  }
} /*** 480px ***/
