.btn--divination {
  border-radius: 10px;
  border: 3px solid #ff6ca7;
  padding: 16px 0 18px 25px;
  position: relative;
  overflow: hidden;
  background-color: #FFFFFF; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFF9D0));
  background-image: -webkit-linear-gradient(top, #FFFFFF, #FFF9D0);
  background-image: -moz-linear-gradient(top, #FFFFFF, #FFF9D0);
  background-image: -ms-linear-gradient(top, #FFFFFF, #FFF9D0);
  background-image: -o-linear-gradient(top, #FFFFFF, #FFF9D0);
  background-image: linear-gradient(to bottom, #FFFFFF, #FFF9D0);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#FFF9D0);
}

.btn--divination__title {
  font-size: 50px;
  font-weight: 900;
  color: #4d4d4d;
}

.btn--divination__round {
  position: absolute;
  background-color: #ff6ca7;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  top: -60px;
  right: -56px;
}

.btn--divination__price {
  position: absolute;
  right: 10px;
  top: 8px;
}

@media screen and (max-width: 480px) {
  .btn--divination {
    border-radius: 0;
    margin-top: 10px;
    border-width: 2px;
    width: calc(100% - 3px);
    margin-left: 1px;
  }

  .btn--divination__title {
    font-size: 22.5px;
  }

  .btn--divination__round {
    width: 110px;
    right: -10px;
    height: 110px;
    top: -24px;
  }

  .btn--divination__price img {
    width: 70px;
  }
}
