input[type=radio], input[type=checkbox] {
  display: none;
}

.radio, .checkbox {
  box-sizing: border-box;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: relative;
  display: inline-block;
  margin: 0 20px 8px 0;
  padding: 0 12px 0 62px;
  vertical-align: middle;
  cursor: pointer;
  font-size: 19px;
}
.radio:hover:after, .checkbox:hover:after {
  border-color: #999;
}
.radio:after, .checkbox:after {
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
  position: absolute;
  top: 50%;
  left: 15px;
  display: block;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  content: '';
}

.radio:after {
  border-radius: 50%;
}

.radio:before {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 20px;
  display: block;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff6ca7;
  content: '';
  opacity: 0;
}
input[type=radio]:checked + .radio:before {
  opacity: 1;
}

.checkbox:before {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 21px;
  display: block;
  margin-top: -7px;
  width: 8px;
  height: 11px;
  border-right: 3px solid #ff6ca7;
  border-bottom: 3px solid #ff6ca7;
  content: '';
  opacity: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type=checkbox]:checked + .checkbox:before {
  opacity: 1;
}

.select-box01 select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-box01 select {
  width: 100%;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #ff6ca7;
  background: #fff;
  background: url(../img/btn_select.png) right 50% no-repeat, -webkit-linear-gradient(top, #fff 0%,#fff 100%);
  background: url(../img/btn_select.png) right 50% no-repeat, linear-gradient(to bottom, #fff 0%,#fff 100%);
  background-size: 20px, 100%;
  border-radius: 11px;
}

.select-box01 select:focus, 
.select-box01 select:hover {
  outline: none;
}

.onoffswitch {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 30px; padding: 0; line-height: 30px;
    border: 2px solid #4d4d4d; border-radius: 30px;
    background-color: #4d4d4d;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 30px; margin: 0px;
    background: #FFFFFF;
    background-image: -moz-linear-gradient( 90deg, rgb(83,188,36) 0%, rgb(101,223,46) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(83,188,36) 0%, rgb(101,223,46) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(83,188,36) 0%, rgb(101,223,46) 100%);
    position: absolute; top: 0; bottom: 0;
    right: 30px;
    border-radius: 30px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #4d4d4d;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #4d4d4d;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px; 
  border-color: #fff;
}

.onoffswitch-label.off:before {
  background-image: -moz-linear-gradient( 90deg, rgb(230,230,230) 0%, rgb(204,204,204) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(230,230,230) 0%, rgb(204,204,204) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(230,230,230) 0%, rgb(204,204,204) 100%);
}

@media screen and (max-width: 480px) {
  .radio, .checkbox {
    font-size: 10px;
    margin-bottom: 0px;
    padding: 0 12px 0 32px;
    top: 5px;
  }

  .checkbox:before {
    margin-top: -4px;
    width: 4px;
    height: 6px;
    left: 18px;
    border-width: 2px;
  }

  .radio:after, .checkbox:after {
    margin-top: -5px;
    width: 10px;
    height: 10px;
    border-width: 1px;
  }

  .radio:before {
    margin-top: -2px;
    width: 4px;
    height: 4px;
    left: 18px;
  }

  .onoffswitch {
    width: 30px;
  }

  .onoffswitch-label {
    height: 15px;
  }

  .onoffswitch-label:before {
    width: 15px;
    right: 15px;
  }
} /*** 480px ***/
