.inbox__mail__content__header {
  width: 100%;
  height: 40px;
  text-align: center
}

.inbox__mail__content__header p {
  font-size: 25px;
  font-weight: 700;
  line-height: 40px;
}

.inbox__mail__content__sub-header {
  width: 100%;
  background-color: #ffe5f0;
  text-align: center;
  padding: 2px 10px;
}

.inbox__mail__content__sub-header p {
  color: #ff6ca7;
  font-size: 15px;
  line-height: 110%;
}

.inbox__mail__content__body {
  padding: 10px;
  padding-bottom: 30px;
}

.inbox__mail__content__text {
  margin-bottom: 15px;
}

.inbox__mail__content__images img {
  width: 100%;
}

.inbox__mail__reply {
  border: 1px solid #ff6ca7;
  border-top: 2px solid #ff6ca7;
  text-align: center;
  padding: 25px;
}

.inbox__mail__reply a {
  font-size: 25px;
  font-weight: 700;
  color: #53bc24;
}

.compose-mail {
  padding: 20px;
}

.compose-mail__title,
.compose-mail__content {
  width: 100%;
  border: 2px solid #ff6ca7;
}

.compose-mail__title {
  border-bottom: 0;
  padding: 10px;
  font-size: 15px;
  font-weight: 700;
  color: #808080;
}

.compose-mail__title::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #808080;
}
.compose-mail__title::-moz-placeholder { /* Firefox 19+ */
  color: #808080;
}
.compose-mail__title:-ms-input-placeholder { /* IE 10+ */
  color: #808080;
}
.compose-mail__title:-moz-placeholder { /* Firefox 18- */
  color: #808080;
}

.compose-mail__title:focus {
  outline: none;
}

.compose-mail__content {
  border-top: 1px solid #ff6ca7;
  padding: 5px 10px;
  font-size: 15px;
  color: #bfbfbf;
  height: 345px;
}

.compose-mail__content:focus {
  outline: none;
}

.compose-mail__attachments {
  padding-top: 10px;
  padding-bottom: 10px;
}

.compose-mail__attachments > a {
  margin-right: 30px;
  display: inline-block;
}

.compose-mail__attachments .attached {
  position: relative;
}

.compose-mail__attachments .attached .icon-clip {
  position: absolute;
  top: -15px;
  right: -5px;
}

.compose-mail__attachments + .compose-mail__other-info {
  margin-top: 10px;
}

.compose-mail__other-info__item {
  text-align: center;
}

.compose-mail__other-info .compose-mail__other-info__item:last-child {
  margin-top: 15px;
  padding-left: 9.5%;
  text-align: left;
}

.compose-mail__other-info__item label,
.compose-mail__other-info__item .text--unit {
  font-size: 20px;
  color: #808080;
  display: inline-block;
  font-weight: 700;
  margin-right: 7px;
}

.compose-mail__other-info__item .select-box01 {
  display: inline-block;
  width: 72px;
  margin-right: 7px;
}

.compose-mail__other-info__item .compose-mail__other-info--birthyear {
  width: 135px;
}

.confirm-mail {
  padding: 30px;
}

.confirm-mail__title {
  color: #808080;
  font-size :20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.confirm-mail__content {
  margin-bottom: 30px;
}

.btn-back {
  width: 80%;
  margin: 30px auto 0;
  text-align: center;
  border: 2px solid #b3b3b3;
}

.btn-back a {
  padding: 15px 20px;
  font-size: 25px;
  font-weight: 700;
  color: #808080;
  display: block;
}

@media screen and (max-width: 480px) {
  .inbox__mail__content__header {
    height: 23.5px;
  }

  .inbox__mail__content__header p {
    font-size: 14px;
    line-height: 23.5px;
  }

  .inbox__mail__content__sub-header p {
    font-size: 7.5px;
  }

  .inbox__mail__content__text p {
    font-size: 10px;
  }

  .inbox__mail__reply {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    border-width: 1px;
    padding: 10px 20px;
  }

  .inbox__mail__reply a {
    font-size: 15px;
  }

  .compose-mail {
    padding: 0;
  }

  .compose-mail__title {
    border-left: 0;
    font-size: 12.5px;
  }

  .compose-mail__content {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-color: #ffe5f0;
    font-size: 12.5px;
    padding: 10px;
  }

  .compose-mail__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: #ffe5f0;
    padding: 5px 15px;
  }

  .compose-mail__footer__camera {
    position: relative;
    bottom: 3px;
  }
  .compose-mail__footer__camera img {
    width: 20px;
  }

  .compose-mail__footer__action {
    color: #ff6ca7;
    font-size: 12.5px;
    position: relative;
    top: 2px;
  }

  .noborder--bottom--sp {
    border-bottom: none!important;
  }

  .confirm-mail {
    padding: 10px 20px;
  }

  .confirm-mail__title {
    font-size: 12.5px;
    margin-bottom: 9px;
    color: #4d4d4d;
  }

  .confirm-mail__content {
    font-size: 11.5px;
    margin-bottom: 5px;
    color: #4d4d4d;
  }

  .compose-mail__attachments img {
    width: 20px;
  }

  .compose-mail__attachments .attached .icon-clip {
    width: 13.5px;
    top: -5px;
  }

  .btn-back.visible-xs-inline-block {
    width: 35%;
    margin: 0 20px;
    vertical-align: middle;
    border-width: 1px;
  }

  .btn-back.visible-xs-inline-block a {
    padding: 10px 20px;
    font-size: 15px;
  }

  .btn-back.visible-xs-inline-block + .inbox__mail__reply {
    display: inline-block;
    width: 47%;
    vertical-align: middle;
    margin-top: 0;
  }

  .compose-mail__other-info__item label, .compose-mail__other-info__item .text--unit {
    font-size: 12.5px;
    margin-right: 5px;
  }

  .compose-mail__other-info__item .select-box01 {
    width: 50px;
    height: 25px;
    vertical-align: middle;
    margin-right: 5px;
  }

  .compose-mail__other-info__item .compose-mail__other-info--birthyear {
    width: 90px;
  }

  .select-box01 select {
    height: 25px;
    border-radius: 8px!important;
    border-width: 1px!important;
    background-size: 13px 100%!important;
    url(../img/btn_select_sp.png) right 50% no-repeat, linear-gradient(to bottom, #fff 0%,#fff 100%)
  }

  .compose-mail__content {
    height: 250px;
  }

  .mail-offer .compose-mail__content {
    border-bottom: 1px solid #ff6ca7;
    margin-bottom: 12.5px;
  }
} 
