.chat__body {
  padding: 10px 20px;
  min-height: 565px;
  position: relative;
}

.chat__body__date {
  color: #808080;
  font-size: 13px;
  text-align: center;
  margin-bottom: 10px;
}

.chat__item {
  margin-bottom: 20px;
}

.chat__item > div {
  display: inline-block;
  vertical-align: top;
}

.chat__left {
  clear: right;
}

.chat__left__image img,
.chat__right__image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.chat__left__text img,
.chat__right__text img {
  vertical-align: top;
  z-index: 2;
  position: relative;
}

.chat__left__text__main,
.chat__right__text__main {
  display: inline-block;
  vertical-align: top;
  box-shadow: -1px 2px 1px #ccc, 1px 2px 2px #ccc;
  padding: 15px;
  border-radius: 5px;
  border-top-left-radius: 0;
  margin-left: -4px;
  z-index: 1;
}

.chat__right__text__main {
  background-color: #fff9d0;
  margin-left: 0;
  margin-right: -4px;
  border-top-right-radius: 0;
  border-top-left-radius: 5px;
}

.chat__left__text__main p,
.chat__right__text__main p {
  font-size: 15px;
}

.chat__right__text__main p {
  color: #808080;
}

.chat__footer {
  clear: right;
  height: 90px;
  padding: 10px;
  background-color: #ffe5f0;
}

.chat__footer > div {
  display: inline-block;
  vertical-align: middle;
  height: 70px;
}

.chat__footer__textarea {
  width: calc(100% - 75px);
}

.chat__footer__textarea textarea {
  background-image: url(../img/icon_pen.png);
  background-repeat: no-repeat;
  text-indent: 25px;
  background-position: 10px 10px;
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.chat__footer__btn {
  width: 60px;
  text-align: center;
  padding: 9px 0;
  background-color: #ff6ca7;
  margin-left: 10px;
}

.chat__footer__btn a {
  display: block;
  height: 100%;
}

.chat__footer__btn p {
  color: #fff;
  margin-top: 2px;
  margin-bottom: 0;
  font-size: 17px;
}

.chat__item__unread-mark {
  background-color: #ef0000;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  text-align: center;
  margin-right: 5px;
}

.chat__item__unread-mark p {
  font-size: 12px;
  color: #fff;
  line-height: 18px;
}

.chat__body--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  z-index: 99;
  display: none;
}

.chat__dialog {
  width: 370px;
  z-index: 100;
  margin: auto;
  margin-top: 150px;
}

.chat__dialog__item {
  background-color: #fff;
  padding: 15px 0;
  text-align: center;
  margin-bottom: 2px;
}

.chat__dialog__item a, 
.chat__dialog__item p {
  font-size: 20px;
}

.chat__dialog__item a {
  color: #0f90f4;
  display: block;
}

.chat__dialog__item a:hover {
  cursor: pointer;
}

.chat__dialog .chat__dialog__item:first-child {
  padding: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.chat__dialog .chat__dialog__item:first-child p {
  font-weight: 700;
}

.chat__dialog .chat__dialog__item:last-child {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.chat__dialog .chat__dialog__item.header-normal {
  padding: 20px;
}

.chat__dialog--two .chat__dialog__item.first,
.chat__dialog--two .chat__dialog__item.second {
  display: inline-block;
  width: calc(50% - 2px);
  margin-top: 2px;
}

.chat__dialog--two .chat__dialog__item.first {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 30px;
}

.chat__dialog--two .chat__dialog__item.second {
  border-bottom-left-radius: 0px;
}

@media screen and (max-width: 480px) {
  .chat__body {
    padding-top: 5px;
    min-height: auto;
  }

  .chat__body__date {
    font-size: 8px;
    color: #ff6ca7;
  }

  .chat__left__image img,
  .chat__right__image img {
    width: 30px;
    height: 30px;
  }

  .chat__left__text img,
  .chat__right__text img {
    width: 10px;
  }

  .chat__left__text__main,
  .chat__right__text__main {
    padding: 8px;
    box-shadow: -1px 1px 1px #ccc, 1px 1px 1px #ccc;
  }

  .chat__left__text__main p,
  .chat__right__text__main p {
    font-size: 10px;
  }

  .chat__item__unread-mark {
    height: 14px;
    width: 14px;
    vertical-align: bottom!important;
  }

  .chat__item__unread-mark p {
    font-size: 8px;
    line-height: 14px;
  }

  .chat__footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 35px;
    padding: 5px;
  }

  .chat__footer__textarea textarea {
    border-radius: 20px;
    height: 22px;
    padding: 0 10px;
    background-position: 12px 3px;
    background-size: 15px;
    line-height: 22px;
  }

  .chat__footer__textarea {
    width: 92%;
  }

  .chat__footer__btn {
    width: auto;
    padding: 0;
    background-color: transparent;
    margin-left: 2px;
  }

  .chat__footer__btn img {
    width: 20px;
    margin-top: 3px;
  }

  .chat__body--overlay {
    position: fixed;
  }

  .chat__dialog {
    width: 80%;
  }

  .chat__dialog__item {
    padding: 10px 0;
  }

  .chat__dialog__item a, 
  .chat__dialog__item p {
    font-size: 15px;
  }

  .chat__dialog .chat__dialog__item:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .chat__dialog .chat__dialog__item:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .chat__dialog--two .chat__dialog__item.first {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 20px;
  }

  .chat__dialog--two .chat__dialog__item.second {
    border-bottom-left-radius: 0px;
  }

  .chat__body--overlay {
    background-color: rgba(0,0,0,.502);
  }
}
