.search__condition {
  padding-top: 15px;
  padding-bottom: 10px;
}

.search__condition + .btn--default {
  margin-top: 0;
}

.search__condition__item--left {
  padding-left: 75px;
}

.list__notification {
  height: 70px;
}

.list__notification + .list__notification {
  border-top: 1px solid #ff6ca7;
}

.list__notification > div {
  display: inline-block;
  vertical-align: middle;
  height: 70px;
}

.list__notification__icon {
  width: 85px;
}

.list__notification__icon img {
  margin-top: 20px;
  margin-left: 20px;
}

.list__notification__content {
  width: calc(100% - 100px);
}

.list__notification__content h3 {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 3px;
}

.list__notification__content p {
  font-size: 15px;
  color: #808080;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.point-purchase .profile__box {
  width: 75%;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 30px;
}

.point-purchase .profile__name__main {
  font-size: 25px;
}

.point-purchase__content {
  margin-bottom: 30px;
}

.point-purchase__content h3 {
  margin-top: 0;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 30px;
}

.point-purchase__content__item {
  padding-left: 28%;
  margin-bottom: 15px;
}

.point-purchase__content__item .radio {
  padding-left: 52px;
  margin-bottom: 0;
  font-weight: 400;
}

.box--static-text {
  padding: 5px 10px;
}

.box--static-text h3,
.box--static-text p {
  font-size: 16px;
}

.box--static-text h3 {
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 0;
}

.box--static-text p {
  margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
  .search .box__body__label,
  .search .search__condition {
    display: inline-block;
    height: 50px;
    vertical-align: top;
  }

  .search .box__body__label--second,
  .search .search__condition--second {
    height: 25px;
    margin-bottom: 67.5px;
  }

  .search .box__body__label {
    width: 90px;
    text-align: center;
  }

  .search .box__body__label label {
    padding: 0;
    font-size: 10px;
    line-height: 50px;
  }

  .search .box__body__label--second label {
    line-height: 25px;
  }

  .search .search__condition--second .search__condition__item {
    margin-top: -3px;
  }

  .search .search__condition {
    width: calc(100% - 90px);
    padding: 0;
    border-bottom: 1px solid #ffe5f0;
    margin-left: -5px;
  }

  .search .search__condition__item--left {
    padding-left: 0px;
  }

  .list__notification {
    height: 40px;
    border-bottom: 1px solid #ffe5f0;
  }

  .list__notification > div {
    height: 40px;
  }

  .list__notification__icon {
    height: 40px;
    width: 55px;
  }

  .list__notification__icon img {
    width: 15px;
    margin-top: 10px;
  }

  .list__notification__content {
    width: calc(100% - 80px);
  }

  .list__notification__content h3 {
    font-size: 12.5px;
    margin-top: 5px;
  }

  .list__notification__content p {
    font-size: 9px;
  }

  .list__notification + .list__notification {
    border-top: none;
  }

  .point-purchase .profile__box {
    margin-top: 4px;
    width: calc(100% - 8px);
    border-radius: 5px;
    border-left: 1px solid #ff6ca7;
    margin-bottom: 20px;
  }

  .point-purchase .profile__name__main {
    font-size: 15px;
  }

  .point-purchase .point-purchase__content h3 {
    font-size: 12.5px;
    margin-bottom: 15px;
  }

  .point-purchase .point-purchase__content__item .radio {
    font-size: 12.5px;
    padding-left: 42px;
    padding-right: 0;
    margin-right: 0;
  }

  .box--static-text {
    padding: 5px 7.5px;
  }

  .box--static-text h3,
  .box--static-text p {
    font-size: 11px;
  }

  .box--static-text h3 {
    margin-bottom: 10px;
  }

  .box--static-text p {
    margin-bottom: 25px;
  }
} /*** 480px ***/
