.profile {
  padding: 10px;
}

.profile__picture {
  margin-bottom: 10px;
  position: relative;
}

.profile__picture .profile__picture__btn {
  position: absolute;
  right: -20px;
  bottom: 0px;
  width: 50px;
  height: 50px;
  border: none;
  margin: 0;
}

.profile__picture__btn p {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
}

.profile__picture img {
  height: 194px;
  width: 194px;
  border: 2px solid #ff6ca7;
}

.profile__box {
  border-radius: 5px;
  border: 2px solid #ff6ca7;
}

.profile__box__header {
  background-color: #ff6ca7;
  text-align: center;
  height: 30px;
}

.profile__box__header p {
  color: #fff;
  font-size: 15px;
  line-height: 30px;
}

.profile__box__body {
  padding: 5px;
  position: relative;
}

.profile__name {
  margin-bottom: 10px;
  text-align: center;
}

.profile__name__main {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 3px;
}

.profile__name__sub {
  font-size: 18px;
  color: #808080;
}

.profile__box__body .btn--follow {
  position: absolute;
  right: 10px;
  top: 5px;
  border: 2px solid #ff6ca7;
  border-radius: 5px;
  padding: 2px;
}

.profile__box__body .btn--followed {
  border: 2px solid #ff6ca7;
  background-color: #ff6ca7;
}

.profile__license {
  margin-bottom: 10px;
}

.profile__license__text {
  font-size: 20px;
}

.profile__description {
  margin-bottom: 10px;
}

.profile__description .profile__box__body {
  padding: 10px;
}

.profile__description .profile__box__body--genre {
  padding: 10px 30px;
}

.profile__description .profile__box__body--genre p {
  font-size: 20px;
}

.divination-show .btn--divination {
  margin-bottom: 10px;
}

.profile__box__body__item + .profile__box__body__item {
  border-top: 1px dashed #ff6ca7;
}

.profile__box__body__item--description {
  padding: 10px 10px 30px 10px;
}

.profile__box__label {
  text-align: center;
  padding: 18px 0;
  position: relative;
}

.profile__box__label label {
  position: absolute;
  font-size: 16px;
  display: inline-block;
  line-height: 43px;
  vertical-align: baseline;
  margin-bottom: 0;
  font-weight: 400;
}

.profile__box__label--price {
  margin-right: 93px;
  left: 103px
}

.profile__box__label--responce {
  margin-right: 73px;
  left: 90px;
}

.profile__box__label p {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: .05em;
}

.profile__box__label p .small {
  font-size: 17px;
  margin-left: 2px;
  letter-spacing: 0;
}

.divination-show .profile__box__body {
  padding: 0;
}

.box__footer.share-on-sns {
  padding-top: 7px;
  padding-bottom: 7px;
}

.share-on-sns p {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 135px;
  font-size: 15px;
}

.share-on-sns a {
  display: inline-block;
  vertical-align: middle;
}

.share-on-sns a + a {
  margin-left: 25px;
}

.settings .profile__name__main {
  margin-top: 15px;
  font-size: 25px;
}

.settings .profile__name__id {
  text-align: right;
  color: #808080;
  font-size: 15px;
}

.settings .profile__point__text {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5px;
}

.anchor--edit-profile {
  color: #808080;
  font-size: 15px;
  margin-top: 5px;
}

.anchor--edit-profile--separator {
  color: #ff6ca7;
  font-size: 18px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  font-weight: 700;
  position: relative;
  bottom: 5px;
}

.settings .btn--round {
  margin-bottom: 20px;
  margin-top: 20px;
}

.settings .menu--stack {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 480px) {
  .profile {
    padding:0;
    padding-top: 2px;
  }

  .profile__picture {
    margin-bottom: 2px;
  }

  .profile__picture img {
    width: 157.5px;
    height: 157.5px;
    border-width: 1px;
  }

  .profile .col-xs-7 {
    padding: 0;
  }

  .profile__box {
    border-radius: 0;
    margin-bottom: 0;
    border-width: 1px;
    border-left: none;
  }

  .profile__box__header {
    height: 17.5px;
  }

  .profile__box__header p {
    font-size: 9px;
    line-height: 17.5px;
  }

  .profile__box__body {
    font-size: 10px;
    padding: 5px 10px;
  }

  .profile__name .profile__box__body {
    height: 45px;
  }

  .profile__name__main {
    font-size :15px;
  }

  .profile__name__sub {
    font-size: 10px;
  }

  .btn--follow {
    width: 20px;
    height: 20px;
    padding-top: 0px;
  }

  .btn--follow img {
    width: 15px;
  }

  .profile__license .profile__box__body {
    height: 73.5px;
  }

  .profile__license .profile__box__body p {
    font-size: 12px;
  }

  .profile__description {
    border-bottom: none;
  }

  .divination-show .btn--divination {
    margin-top: 0;
    margin-bottom: 2px;
  }

  .divination-show .profile__description {
    border-bottom: 2px solid #ff6ca7;
    margin-bottom: 20px;
  }

  .profile__box__body__item--description {
    padding-bottom: 15px;
  }

  .profile__box__body__item.profile__box__label {
    padding: 10px 0;
  }

  .profile__box__label label {
    font-size: 12.5px;
  }

  .profile__box__label p {
    font-size: 25px;
  }

  .profile__box__label--price {
    left: 48px;
  }

  .profile__box__label--responce {
    left: 37px;
  }

  .share-on-sns {
    text-align: center;
  }

  .share-on-sns.box__footer {
    border-top: none;
  }

  .share-on-sns p {
    display: block;
    text-align: center;
    width: 100%;
    margin: 15px 0 10px;
    color: #808080;
    font-size: 12.5px;
  }

  .share-on-sns a + a {
    margin-left: 50px;
  }

  .share-on-sns a img {
    height: 33px;
  }

  .profile__picture .profile__picture__btn {
    width: 40px;
    height: 40px;
    right: -2px;
  }

  .settings .profile__box {
    border: none;
  }

  .settings .profile__box__body {
    height: 57px;
  }

  .settings .profile__name__main {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .settings .profile__name__id {
    font-size: 10px;
    text-align: center;
  }

  .settings .profile__point .profile__box__body {
    height: 45.5px; 
  }

  .settings .profile__point__text {
    font-size: 15px;
    line-height: 32px;
  }

  .anchor--edit-profile {
    display: block;
    width: 100%;
    text-align: right;
    background-color: #ffe5f0;
    margin-top: 0;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    padding-right: 5px;
  }

  .settings .btn--default {
    width: 90%;
  }

  .settings .menu--stack {
    padding: 0;
  }

  .box__tab + .profile {
    padding-top: 0;
  }

  .box__tab + .profile + .profile{
    padding-top: 0;
  }

  .box__body--second .col-xs-7 {
    background: #ffe5f0;
  }

  .box__body--second .profile__box__body {
    background: #fff;
  }

  .box__body--second .anchor--edit-profile {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    padding: 0;
  }

  .box__body--second .anchor--confirm-profile {
    padding-right: 5px;
  }

  .box__body--second .anchor--edit-profile--separator {
    background: #ffe5f0;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    margin: 0;
    padding: 0 1px;
    vertical-align: middle;
    bottom: 0;
  }

  .profile__description .profile__box__body--genre {
    padding: 10px 20px;
  }

  .profile__description .profile__box__body--genre p {
    font-size: 12px;
  }

} /*** 480px ***/

@media screen and (max-width: 320px) {
  .profile__license .profile__box__body {
    height: 50px;
  }

  .profile__picture img {
    height: 134px;
    width: 134px;
  }
}
