.faq__header {
  border-radius: 5px;
  border: 2px solid #ff6ca7;
  margin: 10px;
}

.faq__header__content {
  padding: 5px;
}

.faq__header__content p {
  fot-size: 20px;
}

.faq__header .btn--default {
  width: 90%;
  margin-bottom: 20px;
}

.faq__list {
  margin: 20px 10px;
}

.faq__list__item {
  margin-bottom: 35px;
}

.faq__list .faq__list__item:last-child {
  margin-bottom: 0;
}

.faq__list__item p {
  font-size: 16px;
}

.faq__list__item__title {
  font-weight: 700;
  margin-bottom: 10px;
}

.help__list {
  margin: 10px;
}

.settings-stack__item {
  height: 50px;
  position: relative;
}

.settings-stack__item + .settings-stack__item {
  border-top: 1px solid #ff6ca7;
}

.settings-stack__item p,
.settings-stack__item a {
  font-size: 20px;
  line-height: 50px;
  padding-left: 50px;
  font-weight: 700;
}

.settings-stack__item--lg {
  height: auto;
}

.settings-stack__item__row {
  padding-left: 60px;
  position: relative;
}

.settings-stack__item__row p {
  font-weight: 400;
}

.onoffswitch-wrapper {
  position: absolute;
  right: 60px;
  top: 10px;
}

@media screen and (max-width: 480px) {
  .help__list {
    margin: 4px 0 0 0;
  }

  .box--round__header.help__list__header {
    border-radius: 0;
    height: 19px;
  }

  .box--round__header.help__list__header p {
    font-size: 11px;
    line-height: 19px;
  }

  .help__list__content.box--round__body {
    border: none;
  }

  .help__list__content.box--round__body p {
    font-size: 11px;
  }

  .help__list__header img {
    top: 5px;
  }

  .faq__header {
    margin: 0;
    border: none;
  }

  .faq__header .btn--default {
    margin-top: 25px;
    width: 80%;
}

  .faq__header__content p {
    font-size: 12px;
  }

  .faq__list {
    margin: 0;
    margin-top: 25px;
  }

  .faq__list__header.box--round__header {
    border-radius: 0;
    height: 20px;
  }

  .faq__list__header.box--round__header p {
    line-height: 20px;
    font-size: 11px;
  }

  .faq__list__content.box--round__body {
    border: none;
    padding: 5px;
  }

  .faq__list__item {
    margin-bottom: 20px;
  }

  .faq__list__item p {
    font-size: 11px;
  }

  .settings-stack__item {
    height: 30px;
    border-bottom: 1px solid #ff6ca7;
  }

  .settings-stack__item p,
  .settings-stack__item a {
    padding-left: 40px;
    font-size: 12.5px;
    line-height: 30px;
  }

  .onoffswitch-wrapper {
    top: 6.5px;
    right: 35px;
  }

  .settings-stack__item--lg {
    height: auto;
  }

  .settings-stack__item + .settings-stack__item {
    border-top: none;
  }
} /*** 480px ***/
