.top-main__news {
  border: 2px solid #ff6ca7;
  border-radius: 5px;
  margin-bottom: 10px;
}

.top-main__news__item {
  padding: 5px 15px 5px 25px;
}

.top-main__news__item + .top-main__news__item {
  border-top: 1px solid #ff6ca7;
}

.top-main__news__item p,
.top-main__news__item a {
  line-height: 100%;
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 0;
}

.top-main__news__item .date {
  margin-right: 15px;
}

.top-main__genre__btn {
  margin-bottom: 10px;
}

.top-main__genre__btn img {
  width: 100%;
}

.top-main__users {
  border-bottom: 1px solid #ff6ca7;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.top-main__users__item {
  border: 2px solid #ff6ca7;
  border-radius: 5px;
  width: 100%;
  height: 135px;
  padding: 10px 5px;
  margin-bottom: 10px;
}

.top-main__users__item__picture {
  display: inline-block;
  vertical-align: top;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.top-main__users__item__picture img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.top-main__users__item__names {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 75px);
}

.top-main__users__item__names p {
  font-size: 15px;
  margin-bottom: 0;
}

.top-main__users__item__text p {
  font-size: 15px;
}

.top-main__users__more {
  font-size: 15px;
  border-bottom: 1px solid #ff6ca7;
  border-right: 3px solid #ff6ca7;
  padding-left: 20px;
  padding-right: 3px;
}

.top-main__comic {
  border: 2px solid #ff6ca7;
  height: 60px;
  text-align: center;
}

.top-main__comic p {
  line-height: 60px;
  font-size: 25px;
  color: #ff6ca7;
}
